.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    background-color: #df0a0a !important ;
    height: 100%;
    z-index: 10;
  }
  .navbar-brand{
    margin-bottom: 120px;
  }
  .nav-item-1{
    position: fixed;
    margin-left: -100px;
  }
  .nav-item-2{
    position: fixed;
    margin-left: -100px;
    margin-top: 70px;
  }
  .nav-item-3{
    position: fixed;
    margin-left: -100px;
    margin-top: 140px;
  }

  .image{ 
    position: fixed;
    width: 50%;
    height: 100%;
    background-image: url(components/tracks/ocean.jpg);
    background-size: cover;
    margin: 0 30% 0 40%;
    box-shadow: 20px 20px 20px#df0a0a;
  }

  .lyric{
    position: relative;
    margin: 0px 0px 0px 350px;
    padding: 20px;
    color: #df0a0a;
    font-size: 300%;
  }
  .ocean{
    font-size: 200%;
    margin: 0px 0px 0px -30px;
  }
  .your{
    color: #df0a0a;
    padding: 150px 400px;
  }
  .deep{
    color: #61dafb;
 
  }

  .card{
    width: 400px;
    margin-bottom: 20px;
    margin-left: 20%;
    padding: 0 50px 0 30px;
    display: flex;
    flex-direction: column;
    background-color: #df0a0a;
  }
  .card-title{
    color: #61dafb;
  }

  .btn{
    color: #df0a0a;
  }

  form{
    width: 500px;
    margin: 35px auto;
    padding: 45px;
    border: 2px solid #f2f2f2;
    -webkit-box-shadow: 0 1px 4px rgb(0, 0, 0, 0.3), 0 0 40px rgb(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgb(0, 0, 0, 0.3), 0 0 40px rgb(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgb(0, 0, 0, 0.1), 0 0 40px rgb(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
  }

  .boto{

    color: #df0a0a !important;
  
  }

  #song{
    align-items: flex-end;
    width: 25%;
    text-align: center;
    align-items: center;
    margin-top: 20px;
  }

  #song, button {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #61dafb;
    
  }
  .songContainer {
    /* display: flex; */
    justify-content: center;
  }

  .nosong {

    display: flex;
    justify-content: center;
  }
  
  
  
